* {
  font-family: Ariel;
}


h3 {
  color: rgb(245, 245, 245);
  background-color: rgb(25, 12, 70);
}

.banner {
  color: blue;
  background-color: rgb(150, 150, 150);
  font-family: Trebuchet MS;
  font-weight: bolder;
  top: 15px;
  height: 50px;
  border-radius: 20px;
  bottom-margin: 25px;
}

.explanation {
  border-style: solid;
  padding: 10px;
  background-color: rgb(225, 225, 225);
}

.examples {
  line-height: 0;
  margin: 10px;
  padding: 5px;
  border-style: dashed;
  background-color: rgb(255, 255, 255);
}