* {
  font-family: Helvetica;
}

body {
    background-color: rgb(15, 13, 35);
}

.banner {
    color:forestgreen;
    background-color: black;
    height: 15%;
    width: 55%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-top: 35px;
    vertical-align: middle;
    left: 0px;
    position: relative;
    font-weight: bold;
    font-style: italic;
}

.navigation {
  width: 75%;
  height: 50px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navigation_item {
  display: block;
  align-items: center;
  float: left;
  color: white;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
}


.navigation_item:hover {
  background-color: #111111;
  font-size: 20px;
  transition: background-color .15s, font-size .15s;
  cursor: pointer;
}

.navigation_item a {
  color: white;
}

#right_hand_element {
    background-color: #000000;
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right_hand_element img {
    opacity: 0.8;
    max-width: 90%;
    max-height: 90%;
}

.intro {

    color: #727272d0;
    top: 20%;
    padding-top: 5px;
    margin-left: 10%;
    width: 70%;
}