* {
  font-family: Helvetica;
}

body {
    background-color: rgb(15, 13, 35);
}

h2, h3 {
  color: forestgreen;
}


.navigation {
  list-style-type: none;
  position: fixed;
  justify-content: center;

  text-align: center;
  height: 55px;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #000000;
  border-bottom: 1px solid #dddddd;
  z-index: 999;
}

.navigation_item {
  position: relative;
}

.navigation_item > a {
  display: block;
  align-items: center;
  float: left;
  color: white;
  text-align: center;
  padding: 16px 20px;
  font-size: 18px;
  text-decoration: none;
}


.navigation_item > a:hover {
  background-color: #111111;
  transition: background-color .15s;
  cursor: pointer;
}

.navigation_item a {
  color: white;
  display: block;
}

/* Dropdown styling */
.dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 160px;
  background: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.dropdown li a {
  display: block;
  color: white;
  padding: 12px 16px;
  text-decoration: none; 
}

.dropdown li a:hover {
  background: #666;
}

/* Show dropdown on hover */
.navigation > li:hover > .dropdown {
  display: block;
}

.banner{
  background-image: url("../pictures/ai_shamrock.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: auto;
  border-bottom: 1px solid #dddddd;
  height: 700px;
  position: relative;
  text-align: center;
  top: 50px;
  width: 100%;
}

.banner-text{
  position: relative;
  top: px;
}

.banner h1{
  color: #1cbe42;
  -webkit-text-stroke: 1px white;
  font-family: 'Raleway',sans-serif;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

.banner h2{
  color: #ffffff;
  font-family: 'Amatic SC',sans-serif;
  font-size: 100px;
  margin: -40px 0px 80px 0px;
  text-align: center;
  text-transform: uppercase;
}

.intro {

    color: #727272d0;
    top: 20%;
    padding-top: 5px;
    margin-left: 10%;
    width: 70%;
}

.content{
  background-position: center top;
  background-size: cover;
  border-bottom: 1px solid #eeeeee;
  background-color: #333333;
  margin: 0 auto;
  overflow-y: auto;
  padding: 80px 0px;
  position: relative;
  text-align: center;
}
p{
  color: #eeeeee;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  line-height: 42px;
  text-align: left;
}

.description{
  display: inline-block;
  width: 70%;
}

.footer { 
  background-color: #727272d0;
  padding: 30px;
  text-align: center;
}
.footer h2{
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 2px;
}